<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Animation Example - AngularJS Tuts</title>
    <link rel="stylesheet" href="../resources/vendor/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../resources/vendor/bootstrap/css/bootstrap-theme.css">
    <link rel="stylesheet" href="../resources/vendor/foundation/css/foundation.css">
    <link rel="stylesheet" href="../resources/app/css/style.css">
</head>
<body ng-app="SimpleAnimationApp">
<div class="panel-body" ng-controller="AnimationCtrl">
<div class="text-center">
        <button class="button center-block" ng-click="app.toggle=!app.toggle">First Toggle Animation</button><br>
        Your Message: <br><br> <input type="text" class="input-lg" ng-model="app.message" placeholder="Enter message"/>
        <div class="toggle" ng-if="app.toggle"><br>
            <div>
                <p class="text-info lead">What You Type: {{ app.message }} <br> Get Reversed : {{ reversedMessage(app.message) }} </p>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="../resources/angular/script/angular.js"></script>
<script type="text/javascript" src="../resources/angular/script/angular-animate.js"></script>
<script type="text/javascript" src="../resources/app/script/application-main.js"></script>
</body>
</html>